@import url('portfolioheaderwrapperfooter.css');

section, aside, article, figure, figcaption {
    display: block;
}

#wrapper {
    padding: 0 1.5em 1.5em;
    overflow: hidden;
    clear: both;
    text-align: center;  
}
section {
    display: block;
    padding-top: 5px;
    padding-right: 5px;
    /*float:right;*/
    float: none;
    text-align: justify;
    margin: 5px 10px 10px 5px; 
   
}
#pics {
    display: block;
    padding-top: 5px;
    padding-right: 5px;
    /*float:right;*/
    float: none;
    text-align: justify;
    margin: 5px 10px 10px 5px; 
   
}
.pics {
    display: block;
    padding-top: 5px;
    padding-right: 5px;
    /*float:right;*/
    float: none;
    text-align: justify;
    margin: 5px 10px 10px 5px; 
   
}

figure {
    float: right;
    /*width: 300px;
    height: 220px;*/
    padding: 5px 5px 3px 5px;
    padding-left: 5px;
    /*margin: 90px 20px 20px;*/
    border: 5px solid rgba(147, 128, 104, 0.78);
    margin: 15px 0 0 15px;
    text-align: right;
}

#avatar {
    float: left;
    margin: 15px 15px 5px 0;
    display: block;
}
figcaption {
    margin-bottom: 5px;
    color: black;
}
caption {
    margin-bottom: 5px;
    color: black;
}

article {
    display: inline-block;
    /*padding: 5px 5px 3px 5px;*/
    width: 675px;
    border-top: 2px solid #efefef; 
    
    clear: both;
    margin: 10px 0;
    text-align: center;
   
    padding-bottom: .5em;
}

aside {
    margin-top: .85em;
    width: 140px;
    float: left;
    padding: 0 0 0 5px;
    margin-right: 1em;
    /*margin-left: 20px;
    overflow: hidden;*/
    margin-bottom: 80px;
    clear: both;
    text-align: left;
    border-right: 1px solid #eeeeee;
}

    aside section a {
        font-size: 16px;
        display: block;
        padding: 10px;
        line-height: 25px;
        border-bottom: 1px solid #eeeeee;
        text-align: left;
    }

body, html {
    overflow: auto;
    overflow-y: auto;
}
section.pics {
}

aside section a:hover {
    color: #985d6a;
    background-color: #efefef;
}

aside h2 {
    padding: 10px;
    color: #000000;
    line-height: 1.2em;
    text-align: left;
}

a {
    color: rgba(1, 1, 1, 0.87);
    text-decoration: none;
}

h5 {
    font-size: 1.57em;
    letter-spacing: normal;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 35px;
   
}
h6 {
    display:none;
}
h2, h3 {
    font-weight: normal;
}
h4 {
    font-size: 1.25em;
    margin: 15px 0 0 0;
    color: black;
    font-weight:600;
    text-align:left;
}
h2 {
    font-size: 1.25em;
    padding: 3px 0;
    margin: 5px 0 5px 0;
    color: black;
    font-weight:400;
}

h3 {
    color: rgba(40, 26, 22, 0.68);
    font-size: .9em;
    margin: 3px 4.75em ;
    text-align: center;
    text-align: justify;  
    
    padding:10px 0;
}
p {

    font-size: .8em;
    line-height: 1.5em; 
    font-size:1.11em;
}
#textright{
    text-align:right;
    font-size:1em;
    padding-right:15px;
}
#diwali {
   
}
.video-container {
    padding-top:2em;
    padding-bottom: 1em; 
}

.video {
    text-align: center;
}
#video {
    text-align: center;
}
#footer {
    text-align: center;
}
.footer {
    text-align: center;
}

iframe:focus { 
    outline: none;
}

iframe[seamless] { 
    display: block;
}


/*.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}*/