@import url('portfolioheaderwrapperfooter.css');

.header {
    /*margin: 1em;*/
    padding: 0 0 10px 0;
}

.wrapper {
    font-size: 1.6em;
    padding: 5em;
    z-index: 4;
    overflow: hidden;
    clear: both;
}

/*#wrapper {
    font-size: 1.6em;
    padding: 0 0 0 1em;
    margin: 0 auto;
    width: 930px;
    border: 2px solid #000000;
    background-color: #ffffff;
    box-shadow: -3px 0 5px -3px rgba(1, 1, 1, 0.87), 3px 0 5px -3px rgba(1, 1, 1, 0.87);
    border-top: 1px solid #333;
    border-radius: 10px 10px;
    position: static;
    z-index: 4;
    overflow: auto;
    clear: both;
    text-align:center;
}

section.courses {
    float: right;
    width: 650px;
    border-left: 1px solid #eeeeee;
    padding-left: 25px;
}*/

figure {
    /*width: 300px;
    height: 220px;*/
    padding: 5px;
    padding-left: 5px;
    margin: 20px;
    border: 1px solid #eeeeee;
    float: right;
}

figcaption {
    font-size: 80%;
    color: black;
    display: none;
}

body, html {
    overflow: hidden;
    overflow-y: auto;
}

/*for MAC
    body.noscroll{
    position:fixed;
    overflow:hidden;
}*/

aside section a:hover {
    color: #985d6a;
    background-color: #efefef;
}

a {
    color: #6b3541;
    text-decoration: none;
}

h2, h3 {
    font-weight: normal;
    text-align: center;
}

h2 {
    font-size: 1.25em;
    margin: 80px 0;
    font-family: Georgia, Times, Times New Roman, serif;
    color: black;
}

h3 {
    color: rgba(40, 26, 22, 0.68);
    font-size: 1em;
}

aside h2 {
    padding: 30px 0 10px 0;
    color: #000000;
}
/*div {
    margin-top: 15px;
}*/

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}