


* {
    margin: 0 0 auto 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-size: contain;
    text-align:center;
}

section, #htmlcss, aside, article, figure, figcaption,#logo {
    display: inline-block;
}
/*header, section, .header, footer, aside, nav, article, figure, figcaption, #figure-contact {
    display: inline-block;
}*/

/*#logo {
    /*margin-bottom: 15px;
    margin-right: 5px;
    float: left;
    position: relative;
    background-image: url('../../images/greyjbcrp.png');
    height:78px;
    width:78px;
}*/

header {
    background-image: url('../../images/greytilesmm.png');
    background-repeat: repeat-x;
    background-color: #333;
    z-index:10;
}

/*header title*/
h1 {
    text-align: center;
    /*color: black;*/
    width: 100%;
    position: relative;
    line-height: 3.25em;
    font-size: 2.5em;
 color:#efefef;
}
.img {
    
}
#htmlcss{
    /*width:300px;*/
    height:300px;
    display: block;
    /*float:left;*/
    clear:both;
}
p#captions {
    font-size: 110%;
    color: black;
    text-align:center;
   margin:10px;
}

button {
    color: #ffffff;
    padding: 8px;
    border-radius: 15px;
   background-image: url('../../images/mtrainiernightsmall.jpg');
    margin:15px 10px 15px 15px;
}

/*p{
    white-space: normal;
    font-size:1em;
    padding-top:5px;
}*/
body {
    background-image: url('../../images/dark-wood.jpg');
    background-position: center;
    font-family: sans-serif;
    line-height: 1.4em;
    /*position: static;*/
    font-size: 62.5%;
    background-color: #333;
    overflow: hidden;
   
   
    
    
}

   

#wrapper {
    font-size: 1.6em;
    padding: 0 0 5em 1em;
    margin: 0 auto;
    width: 600px;
    height:450px;
    border: 2px solid #000000;
    background-color: #ffffff;
    box-shadow: -3px 0 5px -3px rgba(1, 1, 1, 0.87), 3px 0 5px -3px rgba(1, 1, 1, 0.87);
    border-top: 1px solid #333;
    border-radius: 10px 10px;
   
    overflow: hidden;
    clear: both;
    
}


/*section.courses {
    float: right;
    width: 650px;
    border-left: 1px solid #eeeeee;
    /*padding-left: 25px;
    padding-right:20px;
}*/

section {
    /*padding-top: 35px;
    padding-right: 5px;*/
    text-align:center;
   
}

figure {
    float: left;
    /*width: 300px;
    height: 220px;*/
    padding: 5px 0 0 0;
    padding-left: 5px;
    margin: 90px 20px 20px;
    border: 1px solid #eeeeee;
}




/*section, aside {
    margin-top: 2em;
}*/

article {
    display: inline-block;
    padding: 10px;
    width: 550px;
    border: 1px solid #eeeeee;
    clear: both;
    margin: 10px 10px 10px 40px;
    text-align: justify;
}

aside {
    width: 220px;
    float: right;
    padding: 0 0 0 5px;
    margin-left: 20px;
    margin-bottom: 100%;
    overflow: hidden;
    clear: both;
}

    aside section a {
        display: block;
        padding: 10px;
        line-height: 30px;
        border-bottom: 1px solid #eeeeee;
    }

/*body, html {
    overflow: auto;
    overflow-y: auto;
}*/

/*for MAC
    body.noscroll{
    position:fixed;
    overflow:hidden;
}*/

aside section a:hover {
    color: #985d6a;
    background-color: #efefef;
}

a {
    color: rgba(1, 1, 1, 0.87);
    text-decoration: none;
}

h5 {
    font-size: 1.57em;
    letter-spacing: normal;
    text-align: center;
    padding-top: 15px;
}

h2, h3 {
    font-weight: normal;
}

h2 {
    font-size: 1.25em;
    padding: 3px 0;
    /*color: black;*/
    /*font-size: 1em;
    margin: 5px 0 5px 0;*/
    /*padding-top: 2px;*/
    color: black;
}

h3 {
    color: rgba(40, 26, 22, 0.68);
    font-size: .9em; 
    clear:both;
}

aside h2 {
    padding: 0 0 10px 0;
    color: #000000;
}

p {
    -ms-word-wrap: normal;
    word-wrap: normal;
    font-size: .8em;
    /*padding-top: 5px;*/
    white-space: normal;
    /*font-size:1em;*/
    line-height: 1.5em;
    text-align:center;
}

/*.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}*/



/******************Footer********************/
            
footer {
    text-align: center;
    width: 100%;
      padding: 5px 0 50px 20px;
 background-image: url('../../images/greytilesmm.png');
    background-repeat: repeat-x;
    color: #ffffff;
  
    height: 75px;
  
    font-size: 90%;

    position:relative;
  clear: both; 

}
#js-current-time{
   /*float:right;*/
   margin-top:0;
  
}

 /******************Footer********************/